@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background-color: #884A39;
    font-family: 'VT323', monospace ;
}

input{
    display:none
}

.titulo {
    color: black;
    font-size: 64px;
}

.subtitulo {
    color: black;
    font-size: 32px;
}

#selec_mascota {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-pokepacho {
    height: 256px;
    background-color: #C38154;
    width: 176px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #F59679;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer ;
    
}
input[type="radio"]:checked + label.tarjeta-de-pokepacho {
    background-color: lightgreen; /* Fondo cuando está seleccionado */
}

/* Ocultar los inputs de radio para que solo se vean las tarjetas */
input[type="radio"] {
    display: none;
}

.tarjeta-de-pokepacho:hover {
    background: black;
    color: wheat;
}


.tarjeta-de-pokepacho img {
    animation: infinite estatico 1s;
}


@keyframes estatico {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -2px);
    }
}


#boton-mascota {
    height: 50px;
    width: 150px;
    border: 2px solid black;
    background-color: #FFC26F;
    margin-top: 20px;
    border-radius: 10px;
}

#boton-mascota:hover {
    background: black;
    color: wheat;
    cursor: pointer ;
}
.form-label:focus {
    background: black;
    color: wheat;
}
#zona-combate {
    background-image: url("https://i.pinimg.com/originals/73/ac/48/73ac48c285e4843b41fadd077b1b41fe.gif"); 
    width: 1200px;
    height: 440px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.combatientes {
    width: 200px;
    margin: 20px;
}
.combatientes img {
    width: 100%;
}
#enemigoImg {
    transform: scaleX(-1);
}

#selec_ataque {
    flex-direction: column;
    align-items: center;
}


.boton-ataque {
    height: 50px;
    width: 150px;
    border: 1px solid black;
    background-color: #C38154;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'VT323', monospace ;
    font-size: 20px;
}
#reiniciar {
    text-align: center;
}
#boton-reiniciar {
    margin: auto;
    height: 50px;
    width: 150px;
    border: 1px solid black;
    background-color: #C38154;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'VT323', monospace ;
    font-size: 20px;
}
#boton-reiniciar:hover , .boton-ataque:hover {
    background: black;
    color: wheat;
    cursor: pointer;
}